<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>

<div th:if="${param.success}" style="color: green;">
    Account created! You may login now.
</div>
<div th:if="${param.logout}" style="color: blue;">
    You've been logged out.
</div>
<div th:if="${param.error}" style="color: red;">
    Username or password is incorrect.
</div>

<form th:action="@{/login}" method="post">
    <label>Username:</label><br/>
    <input type="text" name="username"/><br/><br/>
    <label>Password:</label><br/>
    <input type="password" name="password"/><br/><br/>
    <button type="submit">Login</button>
</form>

<p>No account? <a th:href="@{/register}">Register</a></p>
</body>
</html>